/* RADIO */
/* eslint-disable */
.regular-radio {
    display: none;
}

.regular-radio + label {
    position: relative;
    display: inline-block;
    margin: 0 3px;
    padding: 9px;
    border: 1px solid #cacece;
    vertical-align: middle;
    border-radius: 50px;
    background-color: #fafafa;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 -15px 10px -12px rgba(0,0,0,0.05);

    -webkit-appearance: none;
}

.regular-radio:checked + label:after {
    content: " ";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 12px;
    height: 12px;
    font-size: 32px;
    border-radius: 50px;
    background: #99a1a7;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
    text-shadow: 0;
}

.regular-radio:checked + label {
    border: 1px solid #adb8c0;
    color: #99a1a7;
    background-color: #e9ecee;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0 0 10px rgba(0,0,0,0.1);
}

.regular-radio + label:active,
.regular-radio:checked + label:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 3px rgba(0,0,0,0.1);
}

.big-radio + label {
    padding: 16px;
}

.big-radio:checked + label:after {
    top: 4px;
    left: 4px;
    width: 24px;
    height: 24px;
}
/* eslint-disable */